<div class="service-restart text-center">
  <div class="header py-5">
    <app-home-button></app-home-button>
  </div>
  <div class="controls mt-5">
    <p class="text-base">Service status: <span class="serviceStatus"
                                               [ngStyle]="{'color': getServiceStatusColor()}">{{ serviceStatus }}</span>
    </p>
    <p class="text-base" *ngIf="timeSinceLastUpdate!=-1">Last checked: <span
      class="lastUpdated">{{ timeSinceLastUpdate }} seconds ago</span></p>
    <button mat-flat-button color="warn" *ngIf="serviceStatus==='RUNNING'" (click)="restartService()" class="mt-0">
      RESTART Service
    </button>
  </div>
</div>
