<div class="settings" style="text-align: center">
  <div class="header" style="padding-top: 20px;padding-bottom: 20px;">
    <app-home-button></app-home-button>
  </div>
  <div>
    <mat-form-field class="example-form-field overflow-hidden shadow-md rounded-lg" subscriptSizing="dynamic">
      <mat-label>Update interval</mat-label>
      <input matInput [(ngModel)]="newInterval"
             [placeholder]="this.updateInterval?'Current interval: '+this.updateInterval:''">
      @if (newInterval) {
        <button matSuffix mat-icon-button aria-label="Send" (click)="this.setUpdateInterval();this.newInterval=null">
          <mat-icon>send</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>
  <div class="mt-10">
    <p>Service address: {{ dataService.getServiceAddress() }}</p>
    <p>Production: {{ dataService.isProduction() }}</p>
  </div>
</div>





