<div class="contact-dev" style="text-align: center">
  <div class="header" style="padding-top: 20px;padding-bottom: 20px;">
    <app-home-button></app-home-button>
  </div>
  <p class="text-xl">You can contact the developer via email <br><a
    class="text-xl text-red-600"
    href="mailto:merlin.ua.1@gmail.com?subject=Project-D&body=Dear%20DEVELOPER%2C%0D%0A">{{ developerEmail }}</a></p>
  <a mat-flat-button href="mailto:merlin.ua.1@gmail.com?subject=Project-D&body=Dear%20DEVELOPER%2C%0D%0A"
     target="_blank" class="mt-5">Send EMAIL</a>
</div>



