@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
  //background-image: radial-gradient(circle at center, #899Dc4, #495D84);
  background-size: cover;
  //background-repeat: no-repeat;
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-weight: 300;
  min-height: 100vh;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6, text {
  color: #fff;
}
